<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="33.0.1" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Planetarium.LruCacheNet" version="1.2.0" manuallyInstalled="true" />
  <package id="Rustic.Attributes" version="0.6.4" />
  <package id="Rustic.Common" version="0.6.4" />
  <package id="Rustic.Memory.Buffers" version="0.6.4" />
  <package id="Rustic.Memory.Common" version="0.6.4" />
  <package id="Rustic.Memory.Inline" version="0.6.4" manuallyInstalled="true" />
  <package id="Rustic.Memory.Vec" version="0.6.4" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" manuallyInstalled="true" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="6.0.1" />
</packages>